<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vgit.yunqiang.mapper.BisCartMapper">

    <sql id="Base_Column_List">
        id, userId, productId, skuId, skuMainPic, name, skuProperties, amount, selected
    </sql>

    <select id="get" parameterType="java.lang.Long" resultType="com.vgit.yunqiang.pojo.BisCart">
        select
        <include refid="Base_Column_List"/>
        from t_bis_cart
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="delete" parameterType="java.lang.Long">
        delete from t_bis_cart
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="save" parameterType="com.vgit.yunqiang.pojo.BisCart">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_bis_cart (
        userId, productId, skuId, skuMainPic, name, skuProperties, amount, selected
        )
        values (
        #{userId, jdbcType=BIGINT}, #{productId, jdbcType=BIGINT}, #{skuId, jdbcType=BIGINT}, #{skuMainPic, jdbcType=VARCHAR},
        #{name, jdbcType=VARCHAR}, #{skuProperties, jdbcType=VARCHAR}, #{amount, jdbcType=INTEGER},
        #{selected, jdbcType=TINYINT}
        )
    </insert>

    <insert id="savePart" parameterType="com.vgit.yunqiang.pojo.BisCart">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_bis_cart
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                userId,
            </if>
            <if test="productId != null">
                productId,
            </if>
            <if test="skuId != null">
                skuId,
            </if>
            <if test="skuMainPic != null">
                skuMainPic,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="skuProperties != null">
                skuProperties,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="selected != null">
                selected,
            </if>

        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="userId != null">
                #{userId, jdbcType=BIGINT},
            </if>
            <if test="productId != null">
                #{productId, jdbcType=BIGINT},
            </if>
            <if test="skuId != null">
                #{skuId, jdbcType=BIGINT},
            </if>
            <if test="skuMainPic != null">
                #{skuMainPic, jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name, jdbcType=VARCHAR},
            </if>
            <if test="skuProperties != null">
                #{skuProperties, jdbcType=VARCHAR},
            </if>
            <if test="amount != null">
                #{amount, jdbcType=INTEGER},
            </if>
            <if test="selected != null">
                #{selected, jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.vgit.yunqiang.pojo.BisCart">
        update t_bis_cart
        set userId =#{userId, jdbcType=BIGINT}, productId =#{productId, jdbcType=BIGINT}, skuId =#{skuId, jdbcType=BIGINT}, skuMainPic = #{skuMainPic, jdbcType=VARCHAR},
        name =#{name, jdbcType=VARCHAR}, skuProperties =#{skuProperties, jdbcType=VARCHAR}, amount =#{amount, jdbcType=INTEGER},
        selected = #{selected, jdbcType=TINYINT},
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updatePart" parameterType="com.vgit.yunqiang.pojo.BisCart">
        update t_bis_cart
        <set>
            <if test="userId != null">
                userId =#{userId, jdbcType=BIGINT},
            </if>
            <if test="productId != null">
                productId =#{productId, jdbcType=BIGINT},
            </if>
            <if test="skuId != null">
                skuId =#{skuId, jdbcType=BIGINT},
            </if>
            <if test="skuMainPic != null">
                skuMainPic = #{skuMainPic, jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name =#{name, jdbcType=VARCHAR},
            </if>
            <if test="skuProperties != null">
                skuProperties =#{skuProperties, jdbcType=VARCHAR},
            </if>
            <if test="amount != null">
                amount =#{amount, jdbcType=INTEGER},
            </if>
            <if test="selected != null">
                selected = #{selected, jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <sql id="whereSql">
        <where>
            <if test="name!=null and name!=''">and tbc.name like CONCAT('%',#{name},'%')</if>
        </where>
    </sql>

    <select id="queryTotal" parameterType="com.vgit.yunqiang.common.query.base.BaseQuery" resultType="int">
        select count(0) from t_bis_cart tbc
        <include refid="whereSql"/>
    </select>

    <select id="query" parameterType="com.vgit.yunqiang.common.query.base.BaseQuery"
            resultType="com.vgit.yunqiang.pojo.BisCart">
        select * from t_bis_cart tbc
        <include refid="whereSql"/>
        limit #{start},#{rows}
    </select>

    <select id="getByUserSku" resultType="com.vgit.yunqiang.pojo.BisCart">
        select * from t_bis_cart where userId = #{userId} and skuId = #{skuId}
    </select>

    <delete id="delCartByUser">
        delete from t_bis_cart where userId = #{userId} and id in
        <foreach collection="cartIds" item="cartId" open="(" close=")" separator=",">
            #{cartId}
        </foreach>
    </delete>

    <update id="changeNumber">
        update t_bis_cart set amount = #{number} where userId = #{userId} and id = #{cartId}
    </update>

    <update id="changeSelected">
        update t_bis_cart set selected = #{selected} where userId = #{userId} and id = #{cartId}
    </update>

    <update id="cancelSelectAll" parameterType="java.lang.Long">
        update t_bis_cart set selected = 0 where userId = #{userId}
    </update>

    <update id="updateSelectCart">
        update t_bis_cart set selected = 0 where userId = #{userId} and id not in
        <foreach collection="cartIdArr" item="cartId" open="(" close=")" separator=",">
            #{cartId}
        </foreach>;
        update t_bis_cart set selected=1 where userId = #{userId} and id in
        <foreach collection="cartIdArr" item="cartId" open="(" close=")" separator=",">
            #{cartId}
        </foreach>;
    </update>

    <select id="getCarts" parameterType="java.lang.Long" resultType="com.vgit.yunqiang.pojo.BisCart">
        select * from t_bis_cart where userId = #{userId}
    </select>

    <select id="getCartsTotal" parameterType="java.lang.Long" resultType="int">
        select count(0) from t_bis_cart where userId = #{userId}
    </select>

    <delete id="clearQuick" parameterType="java.lang.Long">
        delete from t_bis_cart where userId = #{userId} and selected = 1
    </delete>

</mapper>