<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vgit.yunqiang.mapper.BisOrderDetailMapper">

    <sql id="Base_Column_List">
		id, orderId, productId, name, skuId, skuMainPic, skuProperties, price, amount, volume, totalMoney, totalVolume
    </sql>
	
	<select id="get" parameterType="com.vgit.yunqiang.pojo.BisOrderDetail" resultType="java.lang.Long">
		select 
		<include refid="Base_Column_List" />
		from t_bis_order_detail
		where id=#{id,jdbcType=BIGINT}
	</select>
	
	<delete id="delete" parameterType="java.lang.Long">
		delete from t_bis_order_detail
		where id =#{id,jdbcType=BIGINT}
	</delete>
	
	<insert id="save" parameterType="com.vgit.yunqiang.pojo.BisOrderDetail">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into t_bit_order_detail(
		orderId, productId, name, skuId, skuMainPic, skuProperties, price, amount, volume, totalMoney, totalVolume
		)
		values(
		#{orderId, jdbcType=BIGINT}, #{productId, jdbcType=BIGINT}, #{name, jdbcType=VARCHAR}, #{skuId, jdbcType=BIGINT}, #{skuMainPic, jdbcType=VARCHAR},
		#{skuProperties, jdbcType=VARCHAR}, #{price, jdbcType=DOUBLE}, #{amount, jdbcType=INTEGER}, #{volume, jdbcType=DOUBLE} #{totalMoney, jdbcType=DOUBLE}, #{totalVolume, jdbcType=DOUBLE}
		)
	</insert>
	
	<insert id="savePart" parameterType="com.vgit.yunqiang.pojo.BisOrderDetail">
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			SELECT LAST_INSERT_ID()
		</selectKey>
		insert into t_bis_order_detail
		<trim prefix="(" suffix= ")" suffixOverrides=",">
			<if test="orderId !=null">
				orderId,
			</if>
			<if test="productId !=null">
				productId,
			</if>
			<if test="name !=null">
				name,
			</if>
			<if test="skuId !=null">
				skuId,
			</if>
			<if test="skuMainPic !=null">
				skuMainPic,
			</if>
			<if test="skuProperties !=null">
				skuProperties,
			</if>
			<if test="price !=null">
				price,
			</if>
			<if test="amount !=null">
				amount,
			</if>
			<if test="volume !=null">
				volume,
			</if>
			<if test="totalMoney !=null">
				totalMoney,
			</if>
			<if test="totalVolume !=null">
				totalVolume,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="orderId !=null">
				#{orderId,jdbcType=BIGINT},
			</if>
			<if test="productId !=null">
				#{productId,jdbcType=BIGINT},
			</if>
			<if test="name !=null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="skuId !=null">
				#{skuId,jdbcType=BIGINT},
			</if>
			<if test="skuMainPic !=null">
				#{skuMainPic,jdbcType=VARCHAR},
			</if>
			<if test="skuProperties !=null">
				#{skuProperties,jdbcType=VARCHAR},
			</if>
			<if test="price !=null">
				#{price,jdbcType=DOUBLE},
			</if>
			<if test="amount !=null">
				#{amount,jdbcType=INTEGER},
			</if>
			<if test="volume !=null">
				#{volume,jdbcType=DOUBLE},
			</if>
			<if test="totalMoney !=null">
				#{totalMoney, jdbcType=DOUBLE},
			</if>
			<if test="totalVolume !=null">
				#{totalVolume, jdbcType=DOUBLE},
			</if>
		</trim>
	</insert>
	
	
	<update id="update" parameterType="com.vgit.yunqiang.pojo.BisOrderDetail">
		update t_bis_order_detail
        set orderId =#{orderId, jdbcType=BIGINT}, productId =#{productId, jdbcType=BIGINT}, name =#{name, jdbcType=VARCHAR}, 
        skuId =#{skuId, jdbcType=BIGINT}, skuMainPic =#{skuMainPic, jdbcType=VARCHAR}, skuProperties =#{skuProperties, jdbcType=VARCHAR}, 
        price =#{price, jdbcType=DOUBLE}, amount =#{amount, jdbcType=INTEGER}, volume = #{volume,jdbcType=DOUBLE}, totalMoney =#{totalMoney, jdbcType=DOUBLE}, totalVolume =#{totalVolume, jdbcType=DOUBLE}
        where id = #{id,jdbcType=BIGINT}
	</update>
	
	<update id="updatePart" parameterType="com.vgit.yunqiang.pojo.BisOrderDetail">
		update t_bis_order_detail
		<set>
			<if test="orderId !=null">
				orderId =#{orderId, jdbcType=BIGINT},
			</if>
			<if test="productId !=null">
				productId =#{productId, jdbcType=BIGINT},
			</if>
			<if test="name !=null">
				name =#{name, jdbcType=VARCHAR},
			</if>
			<if test="skuId !=null">
				skuId =#{skuId, jdbcType=BIGINT},
			</if>
			<if test="skuMainPic !=null">
				skuMainPic =#{skuMainPic, jdbcType=VARCHAR},
			</if>
			<if test="skuProperties !=null">
				skuProperties =#{skuProperties, jdbcType=VARCHAR},
			</if>
			<if test="price !=null">
				price =#{price, jdbcType=DOUBLE},
			</if>
			<if test="amount !=null">
				amount =#{amount, jdbcType=INTEGER},
			</if>
			<if test="volume != null">
				volume = #{volume,jdbcType=DOUBLE},
			</if>
			<if test="totalMoney !=null">
				totalMoney =#{totalMoney, jdbcType=DOUBLE},
			</if>
			<if test="totalVolume !=null">
				totalVolume =#{totalVolume, jdbcType=DOUBLE}
			</if>
		</set>
		where id=#{id,jdbcType=BIGINT}
	</update>
	
	<select id="getOrderDetail" resultType="com.vgit.yunqiang.pojo.BisOrderDetail">
		select * from t_bis_order_detail where orderId = #{orderId}
	</select>

	<update id="changeNumber">
		update t_bis_order_detail set amount =#{number, jdbcType=INTEGER} where orderId = #{orderId, jdbcType=BIGINT}
	</update>
</mapper>