<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vgit.yunqiang.mapper.BisProductMapper">

    <sql id="Base_Column_List">
        id, name, stock, productType, code, state, saleCount, viewProperties, createTime, updateTime, remark
    </sql>

    <select id="get" parameterType="java.lang.Long" resultType="com.vgit.yunqiang.pojo.BisProduct">
        select
        <include refid="Base_Column_List"/>
        from t_bis_product
        where id = #{id, jdbcType=BIGINT}
    </select>

    <delete id="delete" parameterType="java.lang.Long">
        delete from t_bis_product
        where id = #{id, jdbcType=BIGINT}
    </delete>

    <insert id="save" parameterType="com.vgit.yunqiang.pojo.BisProduct">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_bis_product (
        name, stock, productType, code, state, saleCount, viewProperties, createTime, updateTime, remark
        )
        values (
        #{name, jdbcType=VARCHAR}, #{stock, jdbcType=BIGINT}, #{productType, jdbcType=BIGINT},
        #{code, jdbcType=VARCHAR}, #{state, jdbcType=INTEGER}, #{saleCount, jdbcType=INTEGER},
        #{viewProperties, jdbcType=VARCHAR}, #{createTime, jdbcType=BIGINT}, #{updateTime, jdbcType=BIGINT},
        #{remark, jdbcType=VARCHAR}
        )
    </insert>

    <insert id="savePart" parameterType="com.vgit.yunqiang.pojo.BisProduct">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_bis_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name">
                name,
            </if>
            <if test="stock">
                stock,
            </if>
            <if test="productType">
                productType,
            </if>
            <if test="code">
                code,
            </if>
            <if test="state">
                state,
            </if>
            <if test="saleCount">
                saleCount,
            </if>
            <if test="viewProperties">
                viewProperties,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="updateTime != null">
                updateTime,
            </if>
            <if test="remark">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name">
                #{name, jdbcType=VARCHAR},
            </if>
            <if test="stock">
                #{stock, jdbcType=BIGINT},
            </if>
            <if test="productType">
                #{productType, jdbcType=BIGINT},
            </if>
            <if test="code">
                #{code, jdbcType=VARCHAR},
            </if>
            <if test="state">
                #{state, jdbcType=INTEGER},
            </if>
            <if test="saleCount">
                #{saleCount, jdbcType=INTEGER},
            </if>
            <if test="viewProperties">
                #{viewProperties, jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime, jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime, jdbcType=BIGINT},
            </if>
            <if test="remark">
                #{remark, jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updatePart" parameterType="com.vgit.yunqiang.pojo.BisProduct">
        update t_bis_product
        <set>
            <if test="name">
                name = #{name, jdbcType=VARCHAR},
            </if>
            <if test="stock">
                stock = #{stock, jdbcType=BIGINT},
            </if>
            <if test="productType">
                productType = #{productType, jdbcType=BIGINT},
            </if>
            <if test="code">
                code = #{code, jdbcType=VARCHAR},
            </if>
            <if test="state">
                state = #{state, jdbcType=INTEGER},
            </if>
            <if test="saleCount">
                saleCount = #{saleCount, jdbcType=INTEGER},
            </if>
            <if test="viewProperties">
                viewProperties = #{viewProperties, jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                createTime = #{createTime, jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime, jdbcType=BIGINT},
            </if>
            <if test="remark">
                remark = #{remark, jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="update" parameterType="com.vgit.yunqiang.pojo.BisProduct">
        update t_bis_product
        set
        name = #{name, jdbcType=VARCHAR},
        stock = #{stock, jdbcType=BIGINT},
        productType = #{productType, jdbcType=BIGINT},
        code = #{code, jdbcType=VARCHAR},
        state = #{state, jdbcType=INTEGER},
        saleCount = #{saleCount, jdbcType=INTEGER},
        viewProperties = #{viewProperties, jdbcType=VARCHAR},
        createTime = #{createTime, jdbcType=BIGINT},
        updateTime = #{updateTime, jdbcType=BIGINT},
        remark = #{remark, jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <sql id="whereSql">
        <where>
            <if test="name!=null and name!=''">and p.name like CONCAT('%', #{name}, '%')</if>
            <if test="productType!=null">and pt.path like CONCAT('%', #{productType}, '%')</if>
        </where>
    </sql>

    <select id="queryTotal" parameterType="com.vgit.yunqiang.common.query.base.BaseQuery" resultType="int">
        select count(0) from t_bis_product p left join t_bis_product_type pt on p.productType = pt.id
        <include refid="whereSql"/>
    </select>

    <select id="query" parameterType="com.vgit.yunqiang.common.query.base.BaseQuery"
            resultType="com.vgit.yunqiang.pojo.BisProduct">
        select p.* from t_bis_product p left join t_bis_product_type pt on p.productType = pt.id
        <include refid="whereSql"/>
        limit #{start}, #{rows}
    </select>
    
    <delete id="delProductByName" parameterType="java.lang.String">
    	delete from t_bis_product
        where name = #{name, jdbcType=VARCHAR}
    </delete>
    
    <select id="getProducByCode" parameterType="java.lang.String" resultType="com.vgit.yunqiang.pojo.BisProduct">
    	select * from t_bis_product where code = #{code}
    </select>

    <select id="getProperties" parameterType="java.lang.Long" resultType="com.vgit.yunqiang.pojo.BisProperty">
        select tp.* from t_bis_property tp, t_bis_product p, t_bis_product_property tpp where tp.id = tpp.propertyId and p.id = tpp.productId and p.id = #{productId}
    </select>

    <select id="getViewProperties" parameterType="java.lang.Long" resultType="com.vgit.yunqiang.pojo.BisProperty">
        select tp.* from t_bis_property tp, t_bis_product p, t_bis_product_property tpp where tp.id = tpp.propertyId and p.id = tpp.productId and p.id = #{productId} and tp.type=0
    </select>

    <delete id="deleteProperties" parameterType="java.lang.Long">
        delete from t_bis_product_property
        where productId = #{productId, jdbcType=BIGINT}
    </delete>

    <insert id="saveProperties" parameterType="list">
        INSERT INTO t_bis_product_property(productId, propertyId) VALUES
        <foreach separator="," index="index" item="item" collection="list">
            (#{item.productId}, #{item.propertyId})
        </foreach>
    </insert>

    <delete id="deleteMedias" parameterType="java.lang.Long">
        delete from t_bis_product_media
        where productId = #{id, jdbcType=BIGINT}
    </delete>

    <insert id="saveMedias" parameterType="list">
        INSERT INTO t_bis_product_media(productId, resource, updateTime, createTime) VALUES
        <foreach separator="," index="index" item="item" collection="list">
            (#{item.productId}, #{item.resource}, #{item.updateTime}, #{item.createTime})
        </foreach>
    </insert>

    <select id="getMedias" parameterType="java.lang.Long" resultType="com.vgit.yunqiang.pojo.BisProductMedia">
        select * from t_bis_product_media where productId = #{id, jdbcType=BIGINT}
    </select>

    <select id="getSkuProperties" parameterType="java.lang.Long" resultType="com.vgit.yunqiang.pojo.BisProperty">
        select tp.* from t_bis_property tp, t_bis_product p, t_bis_product_property tpp where tp.id = tpp.propertyId and p.id = tpp.productId and p.id = #{productId} and tp.type = 1
    </select>

    <resultMap id="SkuResultMap" type="com.vgit.yunqiang.pojo.BisSku">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="productId" jdbcType="BIGINT" property="productId"/>
        <result column="skuCode" jdbcType="VARCHAR" property="skuCode"/>
        <result column="skuName" jdbcType="VARCHAR" property="skuName"/>
        <result column="pack" jdbcType="INTEGER" property="pack"/>
        <result column="volume" jdbcType="INTEGER" property="volume"/>
        <result column="costPrice" jdbcType="INTEGER" property="costPrice"/>
        <result column="marketPrice" jdbcType="INTEGER" property="marketPrice"/>
        <result column="profit" jdbcType="INTEGER" property="profit"/>
        <result column="supplier" jdbcType="VARCHAR" property="supplier"/>
        <result column="container" jdbcType="VARCHAR" property="container"/>
        <result column="availableStock" jdbcType="INTEGER" property="availableStock"/>
        <result column="frozenStock" jdbcType="INTEGER" property="frozenStock"/>
        <result column="pushStockTime" jdbcType="BIGINT" property="pushStockTime"/>
        <result column="skuProperties" jdbcType="VARCHAR" property="skuProperties"/>
        <result column="skuMainPic" jdbcType="VARCHAR" property="skuMainPic"/>
        <result column="createTime" jdbcType="BIGINT" property="createTime"/>
        <result column="updateTime" jdbcType="BIGINT" property="updateTime"/>
        <collection property="skuPropertyList" javaType="list" ofType="com.vgit.yunqiang.pojo.BisSkuProperty">
            <id column="spId" property="id"/>
            <result column="propId" property="propId"/>
            <result column="propName" property="propName"/>
            <result column="optionId" property="optionId"/>
            <result column="value" property="value"/>
        </collection>
    </resultMap>

    <select id="getSkuList" parameterType="java.lang.Long" resultMap="SkuResultMap">
        select ts.*, tsp.id spId, tsp.propId, tsp.propName, tsp.optionId, tsp.value from t_bis_sku ts
        LEFT JOIN t_bis_sku_property tsp on ts.id = tsp.skuId
        where ts.productId = #{productId} order by ts.id
    </select>

</mapper>