<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vgit.yunqiang.mapper.BisTradeStockMapper" >
  
  <resultMap id="BaseResultMap" type="com.vgit.yunqiang.pojo.BisTradeStock" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="fileName" property="fileName" jdbcType="VARCHAR" />
    <result column="beforeResource" property="beforeResource" jdbcType="VARCHAR" />
    <result column="afterResource" property="afterResource" jdbcType="VARCHAR" />
    <result column="confirmTime" property="confirmTime" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="createTime" property="createTime" jdbcType="BIGINT" />
    <result column="updateTime" property="updateTime" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, fileName, beforeResource, afterResource, confirmTime, status, createTime, updateTime, 
    remark
  </sql>
  
  <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from t_bis_trade_stock
    where id = #{id,jdbcType=BIGINT}
  </select>
  
  <delete id="delete" parameterType="java.lang.Long" >
    delete from t_bis_trade_stock
    where id = #{id,jdbcType=BIGINT}
  </delete>
  
  <insert id="save" parameterType="com.vgit.yunqiang.pojo.BisTradeStock" >
    insert into t_bis_trade_stock (id, fileName, beforeResource, 
      afterResource, confirmTime, status, 
      createTime, updateTime, remark
      )
    values (#{id,jdbcType=BIGINT}, #{fileName,jdbcType=VARCHAR}, #{beforeResource,jdbcType=VARCHAR}, 
      #{afterResource,jdbcType=VARCHAR}, #{confirmTime,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  
  <insert id="savePart" parameterType="com.vgit.yunqiang.pojo.BisTradeStock" >
   <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
   	  SELECT LAST_INSERT_ID()
   </selectKey>
    insert into t_bis_trade_stock
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="fileName != null" >
        fileName,
      </if>
      <if test="beforeResource != null" >
        beforeResource,
      </if>
      <if test="afterResource != null" >
        afterResource,
      </if>
      <if test="confirmTime != null" >
        confirmTime,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
      <if test="updateTime != null" >
        updateTime,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="fileName != null" >
        #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="beforeResource != null" >
        #{beforeResource,jdbcType=VARCHAR},
      </if>
      <if test="afterResource != null" >
        #{afterResource,jdbcType=VARCHAR},
      </if>
      <if test="confirmTime != null" >
        #{confirmTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  
  <update id="updatePart" parameterType="com.vgit.yunqiang.pojo.BisTradeStock" >
    update t_bis_trade_stock
    <set >
      <if test="fileName != null" >
        fileName = #{fileName,jdbcType=VARCHAR},
      </if>
      <if test="beforeResource != null" >
        beforeResource = #{beforeResource,jdbcType=VARCHAR},
      </if>
      <if test="afterResource != null" >
        afterResource = #{afterResource,jdbcType=VARCHAR},
      </if>
      <if test="confirmTime != null" >
        confirmTime = #{confirmTime,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        updateTime = #{updateTime,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <update id="update" parameterType="com.vgit.yunqiang.pojo.BisTradeStock" >
    update t_bis_trade_stock
    set fileName = #{fileName,jdbcType=VARCHAR},
      beforeResource = #{beforeResource,jdbcType=VARCHAR},
      afterResource = #{afterResource,jdbcType=VARCHAR},
      confirmTime = #{confirmTime,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      createTime = #{createTime,jdbcType=BIGINT},
      updateTime = #{updateTime,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
  
  <sql id="whereSql">
        <where>
            <if test="key != null and key != ''">and bts.fileName like CONCAT('%',#{key},'%')</if>
        </where>
    </sql>

    <select id="queryTotal" parameterType="com.vgit.yunqiang.common.query.base.BaseQuery" resultType="int">
        select count(0) from t_bis_trade_stock bts
        <include refid="whereSql"/>
    </select>

    <select id="query" parameterType="com.vgit.yunqiang.common.query.base.BaseQuery"
            resultType="com.vgit.yunqiang.pojo.BisTradeStock">
        select * from t_bis_trade_stock bts
        <include refid="whereSql"/>
        limit #{start},#{rows}
    </select>
  
</mapper>