<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vgit.yunqiang.mapper.FinMSalesMapper">

    <resultMap id="BaseResultMap" type="com.vgit.yunqiang.pojo.FinMSales">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="yearId" property="yearId" jdbcType="BIGINT"/>
        <result column="monthId" property="monthId" jdbcType="BIGINT"/>
        <result column="stockId" property="stockId" jdbcType="BIGINT"/>
        <result column="amount" property="amount" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, yearId, monthId, stockId, amount
    </sql>

    <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_fin_m_sales
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="delete" parameterType="java.lang.Long">
        delete from t_fin_m_sales
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="save" parameterType="com.vgit.yunqiang.pojo.FinMSales">
        insert into t_fin_m_sales (id, yearId, monthId,
          stockId, amount)
        values (#{id,jdbcType=BIGINT}, #{yearId,jdbcType=BIGINT}, #{monthId,jdbcType=BIGINT},
          #{stockId,jdbcType=BIGINT}, #{amount,jdbcType=DOUBLE})
    </insert>

    <insert id="savePart" parameterType="com.vgit.yunqiang.pojo.FinMSales">
        insert into t_fin_m_sales
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="yearId != null">
                yearId,
            </if>
            <if test="monthId != null">
                monthId,
            </if>
            <if test="stockId != null">
                stockId,
            </if>
            <if test="amount != null">
                amount,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="yearId != null">
                #{yearId,jdbcType=BIGINT},
            </if>
            <if test="monthId != null">
                #{monthId,jdbcType=BIGINT},
            </if>
            <if test="stockId != null">
                #{stockId,jdbcType=BIGINT},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=DOUBLE},
            </if>
        </trim>
    </insert>

    <update id="updatePart" parameterType="com.vgit.yunqiang.pojo.FinMSales">
        update t_fin_m_sales
        <set>
            <if test="yearId != null">
                yearId = #{yearId,jdbcType=BIGINT},
            </if>
            <if test="monthId != null">
                monthId = #{monthId,jdbcType=BIGINT},
            </if>
            <if test="stockId != null">
                stockId = #{stockId,jdbcType=BIGINT},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=DOUBLE},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="update" parameterType="com.vgit.yunqiang.pojo.FinMSales">
        update t_fin_m_sales
        set yearId = #{yearId,jdbcType=BIGINT},
          monthId = #{monthId,jdbcType=BIGINT},
          stockId = #{stockId,jdbcType=BIGINT},
          amount = #{amount,jdbcType=DOUBLE}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <resultMap id="mSalesListResultMap" type="com.vgit.yunqiang.pojo.BisStock">
        <id column="id" jdbcType="BIGINT" property="id"></id>
        <result column="name" jdbcType="VARCHAR" property="name"></result>
        <result column="type" jdbcType="INTEGER" property="type"></result>
        <collection property="mSalesList" javaType="java.util.List" ofType="com.vgit.yunqiang.pojo.FinMSales">
            <id column="msId" property="id" jdbcType="BIGINT"/>
            <result column="yearId" property="yearId" jdbcType="BIGINT"/>
            <result column="monthId" property="monthId" jdbcType="BIGINT"/>
            <result column="stockId" property="stockId" jdbcType="BIGINT"/>
            <result column="amount" property="amount" jdbcType="DOUBLE"/>
        </collection>
    </resultMap>
    <select id="getMSalesList" resultMap="mSalesListResultMap">
        SELECT
            s.id,
            s.name,
            ms.id AS msId,
            ms.monthId,
            ms.amount
        FROM
            t_bis_stock s
            JOIN t_fin_m_sales ms ON s.id = ms.stockId
            JOIN t_fin_year y ON ms.yearId = y.id
            JOIN t_fin_month m ON ms.monthId = m.id
        WHERE
            s.type = 2 AND s.parentId = #{stockId} AND y.name = #{year}
    </select>

</mapper>