<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vgit.yunqiang.mapper.FinStockDailyExpendItemMapper">

    <sql id="Base_Column_List">
        id, expendItemId, dailyId, detail, amount, createTime, updateTime,
        remark
    </sql>

    <select id="get" resultType="com.vgit.yunqiang.pojo.FinStockDailyExpendItem" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from t_fin_stock_daily_expend_item
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="delete" parameterType="java.lang.Long">
        delete from t_fin_stock_daily_expend_item
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="save" parameterType="com.vgit.yunqiang.pojo.FinStockDailyExpendItem">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into t_fin_stock_daily_expend_item (id, expendItemId, dailyId, detail,
        amount, createTime, updateTime,
        remark)
        values (#{id,jdbcType=BIGINT}, #{expendItemId,jdbcType=BIGINT}, #{dailyId,jdbcType=BIGINT},
        #{detail,jdbcType=VARCHAR},
        #{amount,jdbcType=DOUBLE}, #{createTime,jdbcType=BIGINT},
        #{updateTime,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR})
    </insert>

    <insert id="savePart" parameterType="com.vgit.yunqiang.pojo.FinStockDailyExpendItem">
        insert into t_fin_stock_daily_expend_item
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="expendItemId != null">
                expendItemId,
            </if>
            <if test="dailyId != null">
                dailyId,
            </if>
            <if test="detail != null">
                detail,
            </if>
            <if test="amount != null">
                amount,
            </if>
            <if test="createTime != null">
                createTime,
            </if>
            <if test="updateTime != null">
                updateTime,
            </if>
            <if test="remark != null">
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="expendItemId != null">
                #{expendItemId,jdbcType=BIGINT},
            </if>
            <if test="dailyId != null">
                #{dailyId,jdbcType=BIGINT},
            </if>
            <if test="detail != null">
                #{detail,jdbcType=VARCHAR},
            </if>
            <if test="amount != null">
                #{amount,jdbcType=DOUBLE},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=BIGINT},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="update" parameterType="com.vgit.yunqiang.pojo.FinStockDailyExpendItem">
        update t_fin_stock_daily_expend_item
        set expendItemId = #{expendItemId,jdbcType=BIGINT},
          dailyId = #{dailyId,jdbcType=BIGINT},
          detail = #{detail,jdbcType=VARCHAR},
          amount = #{amount,jdbcType=DOUBLE},
          createTime = #{createTime,jdbcType=BIGINT},
          updateTime = #{updateTime,jdbcType=BIGINT},
          remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="updatePart" parameterType="com.vgit.yunqiang.pojo.FinStockDailyExpendItem">
        update t_fin_stock_daily_expend_item
        <set>
            <if test="expendItemId != null">
                expendItemId = #{expendItemId,jdbcType=BIGINT},
            </if>
            <if test="dailyId != null">
                dailyId = #{dailyId,jdbcType=BIGINT},
            </if>
            <if test="detail != null">
                detail = #{detail,jdbcType=VARCHAR},
            </if>
            <if test="amount != null">
                amount = #{amount,jdbcType=DOUBLE},
            </if>
            <if test="createTime != null">
                createTime = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null">
                updateTime = #{updateTime,jdbcType=BIGINT},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <sql id="whereSql">
        <where>
            <if test="key != null and key != ''">and tfsdei.detail like CONCAT('%',#{key},'%')</if>
            <if test="dailyId != null and dailyId != ''">and tfsdei.dailyId = #{dailyId}</if>
        </where>
    </sql>

    <select id="queryTotal" parameterType="com.vgit.yunqiang.common.query.base.BaseQuery" resultType="int">
        select count(0) from t_fin_stock_daily_expend_item tfsdei
        <include refid="whereSql"/>
    </select>

    <select id="query" parameterType="com.vgit.yunqiang.common.query.base.BaseQuery"
            resultType="com.vgit.yunqiang.pojo.FinStockDailyExpendItem">
        select * from t_fin_stock_daily_expend_item tfsdei
        <include refid="whereSql"/>
        limit #{start},#{rows}
    </select>

    <select id="getExpendItemsByStockId" resultType="com.vgit.yunqiang.pojo.FinStockDailyExpendItem">
        <![CDATA[

        SELECT tfsdei.* FROM t_fin_stock_daily_expend_item tfsdei LEFT JOIN t_fin_stock_daily tfsd ON tfsdei.dailyId = tfsd.`id`
        WHERE tfsd.`stockId` IN (SELECT tbs.id FROM t_bis_stock tbs WHERE tbs.parentId = #{stockId}) AND tfsdei.createTime >= #{startTime} AND tfsdei.createTime <= #{endTime} OR tfsd.`stockId` = #{stockId} AND tfsdei.createTime >= #{startTime} AND tfsdei.createTime <= #{endTime}

        ]]>
    </select>

    <select id="getExpendByDailyId" parameterType="java.lang.Long"
            resultType="com.vgit.yunqiang.pojo.FinStockDailyExpendItem">
        select * from t_fin_stock_daily_expend_item where dailyId = #{dailyId}
    </select>

</mapper>