<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.vgit.yunqiang.mapper.LogResourcesMapper" >
    <resultMap id="BaseResultMap" type="com.vgit.yunqiang.pojo.LogResources" >
        <id column="id" property="id" jdbcType="BIGINT" />
        <result column="oldFileName" property="oldFileName" jdbcType="VARCHAR" />
        <result column="fileName" property="fileName" jdbcType="VARCHAR" />
        <result column="resource" property="resource" jdbcType="VARCHAR" />
        <result column="suffix" property="suffix" jdbcType="VARCHAR" />
        <result column="state" property="state" jdbcType="TINYINT" />
        <result column="createTime" property="createTime" jdbcType="BIGINT" />
        <result column="updateTime" property="updateTime" jdbcType="BIGINT" />
        <result column="remark" property="remark" jdbcType="VARCHAR" />
    </resultMap>

    <sql id="Base_Column_List" >
        id, oldFileName, fileName, resource, suffix, state, createTime, updateTime, remark
    </sql>

    <select id="get" resultMap="BaseResultMap" parameterType="java.lang.Long" >
        select
        <include refid="Base_Column_List" />
        from t_log_resources
        where id = #{id,jdbcType=BIGINT}
    </select>

    <delete id="delete" parameterType="java.lang.Long" >
        delete from t_log_resources
        where id = #{id,jdbcType=BIGINT}
    </delete>

    <insert id="save" parameterType="com.vgit.yunqiang.pojo.LogResources" >
        insert into t_log_resources (id, oldFileName, fileName,
          resource, suffix, state,
          createTime, updateTime, remark
          )
        values (#{id,jdbcType=BIGINT}, #{oldFileName,jdbcType=VARCHAR}, #{fileName,jdbcType=VARCHAR},
          #{resource,jdbcType=VARCHAR}, #{suffix,jdbcType=VARCHAR}, #{state,jdbcType=TINYINT},
          #{createTime,jdbcType=BIGINT}, #{updateTime,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR}
          )
    </insert>

    <insert id="savePart" parameterType="com.vgit.yunqiang.pojo.LogResources" >
        insert into t_log_resources
        <trim prefix="(" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                id,
            </if>
            <if test="oldFileName != null" >
                oldFileName,
            </if>
            <if test="fileName != null" >
                fileName,
            </if>
            <if test="resource != null" >
                resource,
            </if>
            <if test="suffix != null" >
                suffix,
            </if>
            <if test="state != null" >
                state,
            </if>
            <if test="createTime != null" >
                createTime,
            </if>
            <if test="updateTime != null" >
                updateTime,
            </if>
            <if test="remark != null" >
                remark,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides="," >
            <if test="id != null" >
                #{id,jdbcType=BIGINT},
            </if>
            <if test="oldFileName != null" >
                #{oldFileName,jdbcType=VARCHAR},
            </if>
            <if test="fileName != null" >
                #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="resource != null" >
                #{resource,jdbcType=VARCHAR},
            </if>
            <if test="suffix != null" >
                #{suffix,jdbcType=VARCHAR},
            </if>
            <if test="state != null" >
                #{state,jdbcType=TINYINT},
            </if>
            <if test="createTime != null" >
                #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null" >
                #{updateTime,jdbcType=BIGINT},
            </if>
            <if test="remark != null" >
                #{remark,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updatePart" parameterType="com.vgit.yunqiang.pojo.LogResources" >
        update t_log_resources
        <set >
            <if test="oldFileName != null" >
                oldFileName = #{oldFileName,jdbcType=VARCHAR},
            </if>
            <if test="fileName != null" >
                fileName = #{fileName,jdbcType=VARCHAR},
            </if>
            <if test="resource != null" >
                resource = #{resource,jdbcType=VARCHAR},
            </if>
            <if test="suffix != null" >
                suffix = #{suffix,jdbcType=VARCHAR},
            </if>
            <if test="state != null" >
                state = #{state,jdbcType=TINYINT},
            </if>
            <if test="createTime != null" >
                createTime = #{createTime,jdbcType=BIGINT},
            </if>
            <if test="updateTime != null" >
                updateTime = #{updateTime,jdbcType=BIGINT},
            </if>
            <if test="remark != null" >
                remark = #{remark,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="update" parameterType="com.vgit.yunqiang.pojo.LogResources" >
        update t_log_resources
        set oldFileName = #{oldFileName,jdbcType=VARCHAR},
          fileName = #{fileName,jdbcType=VARCHAR},
          resource = #{resource,jdbcType=VARCHAR},
          suffix = #{suffix,jdbcType=VARCHAR},
          state = #{state,jdbcType=TINYINT},
          createTime = #{createTime,jdbcType=BIGINT},
          updateTime = #{updateTime,jdbcType=BIGINT},
          remark = #{remark,jdbcType=VARCHAR}
        where id = #{id,jdbcType=BIGINT}
    </update>

    <select id="findByFileName" parameterType="java.lang.String" resultMap="BaseResultMap">
        select * from t_log_resources where oldFileName = #{oldFileName}
    </select>
</mapper>