table th, td {
    width: 150px;
    height: 30px;
    text-align: center;
}

table th {
    background: rgb(234, 241, 211);
}

table ul {
    margin: 0;
    padding: 0;
}

table ul li {
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    list-style-type: none;
    border-bottom: 1px solid grey;
}

table ul li:last-child {
    /*border-bottom: none;*/
}

table .gray {
    background: #eee;
}

#lineTd {
    background: #EAF1D3 url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lIHgxPSIwIiB5MT0iMCIgeDI9IjEwMCUiIHkyPSIxMDAlIiBzdHJva2U9ImJsYWNrIiBzdHJva2Utd2lkdGg9IjEiLz48L3N2Zz4=) no-repeat 100% center;
}